.clas {
    background-color: pink;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.dva {
    font-size: 24px;
}

#ajdi {
    color: blue;
    font-size: 36px;
}

#ajdi2 {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}