.flex-container {
    display: flex;
}
div {
    background-color: antiquewhite;
    border: 4px;
    padding: 3px;
    height: 100px;
    border-color: solid yellowgreen;
    flex: 1;
}
.another-one {
    display: flex;
}

.flex-container p {
    background-color: aqua;
    border: 4px;
    padding: 3px;
    height: 99px;
    border-color: solid red;
    flex: 1;
}