.flex-container {
    display: flex;
}
div {
    background-color: antiquewhite;
    border: 4px;
    border-color: solid yellowgreen;
    flex: 1;
}
.another-one {
    display: flex;
    flex-direction: column;
    flex-grow: 50%;
    flex: 2;
}

.flex-container p {
    border: 4px;
    flex: 2;
}